$color-primary: #0041ff;
$color-secondary: #ff0000;
$typog: #2b2b2b;
$typog2: #7d7d7d;



$font-primary: 'Varela Round', Helvetica, Arial, sans-serif;
$font-secondary: 'Lato', Helvetica, Arial, sans-serif;

$default-border-radius: 5px;